//Variables de colores
 $firstcolor:#ad1f7b;
 $secondcolor: #ffffff;
 $thirdcolor: #5b0d62;
 $fcolor:#ad1f7b85;
 $ffcolor:rgb(173, 108, 163);
 $scolor:rgb(242, 200, 239);
 

//variables de tamaño
$smartphone: 480px;
$tablets: 768px;
$desktop: 990px;

